@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0 0 0 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #241309;
}

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.timeline{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul{
  list-style: none;
}

.timeline ul li{
  padding: 20px;
  background-color: #1c2124;
  color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
  margin-bottom: 0;
}

.content{
  cursor: pointer;
  opacity: 1;
}

.content h1{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.content p{
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

.content .date{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
}

.content[data-scroll="in"]{
  animation: fadeIn 3s;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@media only screen and (min-width: 769px){
  .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2.3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #acacac;
  }
  .timeline ul li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #acacac;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after{
    right: -30px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after{
    left: -30px;
    transform: translate(-50%, -50%);
  }
  .timeline ul li:hover:after{
    background-color: rgb(195, 86, 195);
    transition-duration: 0.7s;
  }
  .content .date{
    position: absolute;
    top: -28px;
  }
}
